# Use this notbook for your 3 choices of APIs

In [1]:
import pandas as pd
import requests
from pandas import json_normalize

##### 1. Energy Consumption per Grid Area in Denmark

https://www.energidataservice.dk/tso-electricity/ConsumptionPerGridarea

In [2]:
energy = response = requests.get(url='https://api.energidataservice.dk/dataset/ConsumptionPerGridarea?limit=10000')

In [3]:
energy.status_code # Check if ok. 200 means all good

200

In [4]:
#energy.content
#energy.json()  Energy is a json

In [5]:
energy_data = pd.DataFrame(energy.json())
energy_data.head()
# As wee see al information is in records column. We need it to extract it an make it a df

,total,limit,dataset,records
0,3792805,10000,ConsumptionPerGridarea,"{'HourUTC': '2022-12-26T22:00:00', 'HourDK': '..."
1,3792805,10000,ConsumptionPerGridarea,"{'HourUTC': '2022-12-26T22:00:00', 'HourDK': '..."
2,3792805,10000,ConsumptionPerGridarea,"{'HourUTC': '2022-12-26T22:00:00', 'HourDK': '..."
3,3792805,10000,ConsumptionPerGridarea,"{'HourUTC': '2022-12-26T22:00:00', 'HourDK': '..."
4,3792805,10000,ConsumptionPerGridarea,"{'HourUTC': '2022-12-26T22:00:00', 'HourDK': '..."

In [6]:
energy_data['records']
dict(energy_data['records'])
pd.DataFrame(dict(energy_data['records'])).T

,HourUTC,HourDK,GridCompany,ResidualConsumption,FlexSettledConsumption,HourlySettledConsumption
0,2022-12-26T22:00:00,2022-12-26T23:00:00,003,None,89193.890625,0.0
1,2022-12-26T22:00:00,2022-12-26T23:00:00,007,None,47475.890625,0.0
2,2022-12-26T22:00:00,2022-12-26T23:00:00,016,None,422.440002,45.560001
3,2022-12-26T22:00:00,2022-12-26T23:00:00,031,None,56976.4375,97144.898438
4,2022-12-26T22:00:00,2022-12-26T23:00:00,042,None,9381.876953,9870.709961
...,...,...,...,...,...,...
9995,2022-12-18T22:00:00,2022-12-18T23:00:00,152,None,14980.141602,19333.796875
9996,2022-12-18T22:00:00,2022-12-18T23:00:00,154,None,10187.985352,5401.291016
9997,2022-12-18T22:00:00,2022-12-18T23:00:00,233,None,64341.9375,40988.59375
9998,2022-12-18T22:00:00,2022-12-18T23:00:00,244,None,81358.828125,109213.023438
9999,2022-12-18T22:00:00,2022-12-18T23:00:00,245,None,38734.042969,53610.167969

##### 2. Crypto Exchange

https://docs.coincap.io/

In [7]:
crypto = requests.get("https://api.coincap.io/v2/assets")

In [8]:
crypto.status_code

200

In [ ]:
#crypto.content

In [10]:
crypto_data = pd.DataFrame(crypto.json())
crypto_data.head() # Again. All information is in data column. We need to extract it

                                                data      timestamp
0  {'id': 'bitcoin', 'rank': '1', 'symbol': 'BTC'...  1673419251543
1  {'id': 'ethereum', 'rank': '2', 'symbol': 'ETH...  1673419251543
2  {'id': 'tether', 'rank': '3', 'symbol': 'USDT'...  1673419251543
3  {'id': 'binance-coin', 'rank': '4', 'symbol': ...  1673419251543
4  {'id': 'usd-coin', 'rank': '5', 'symbol': 'USD...  1673419251543

In [11]:
crypto_data['data']
dict(crypto_data['data'])
pd.DataFrame(dict(crypto_data['data'])).transpose()

,id,rank,symbol,name,supply,maxSupply,marketCapUsd,volumeUsd24Hr,priceUsd,changePercent24Hr,vwap24Hr,explorer
0,bitcoin,1,BTC,Bitcoin,19258687.0000000000000000,21000000.0000000000000000,335628412428.6612996413900565,7037271023.4309482870087479,17427.3777038206861995,1.3244225520917561,17345.9028226965913494,https://blockchain.info/
1,ethereum,2,ETH,Ethereum,122373866.2178000000000000,None,163215973352.9170847275385295,2594637490.3316974218766858,1333.7486049711515902,0.7128855581344673,1333.5993346771860337,https://etherscan.io/
2,tether,3,USDT,Tether,66272586693.3717000000000000,None,66273023116.7473092021357877,11599172981.5473818492223384,1.0000065852775240,-0.0299597437340066,0.9998219433207443,https://www.omniexplorer.info/asset/31
3,binance-coin,4,BNB,BNB,166801148.0000000000000000,166801148.0000000000000000,46226605467.8396586860834724,148425806.3643745975587373,277.1360150821003863,1.0592823963336032,275.8394956662680752,https://etherscan.io/token/0xB8c77482e45F1F44d...
4,usd-coin,5,USDC,USD Coin,43720276900.4764400000000000,None,43751279282.5976239641034270,593872083.3439676825548619,1.0007091076342393,0.0317976925798044,1.0002786432928138,https://etherscan.io/token/0xa0b86991c6218b36c...
...,...,...,...,...,...,...,...,...,...,...,...,...
95,gnosis-gno,96,GNO,Gnosis,2589588.0000000000000000,3000000.0000000000000000,237672207.5739520219077744,355893.8714972209396519,91.7799308515300588,0.1711811364871848,91.6886634949076198,https://etherscan.io/token/Gnosis
96,iotex,97,IOTX,IoTeX,9420805889.0000000000000000,10000000000.0000000000000000,232343304.6367198872620063,6819016.0753122040290164,0.0246627844129567,-3.4430360789595629,0.0262267823047023,https://etherscan.io/token/0x6fb3e0a217407efff...
97,oasis-network,98,ROSE,Oasis Network,5725718533.0000000000000000,10000000000.0000000000000000,226480968.3016874760520449,4232023.5022455187423873,0.0395550299925453,-0.7432766112757028,0.0398530008219692,https://www.oasisscan.com/
98,kusama,99,KSM,Kusama,8470098.0572620600000000,None,223080035.6465055364925692,7456964.0078288709738315,26.3373616383628565,0.4260253433886964,26.4939968708121856,https://kusama.subscan.io/
99,qtum,100,QTUM,Qtum,104489218.5000000000000000,107822406.0000000000000000,216832668.8964141977695157,5938854.3516189763144141,2.0751678690793749,0.0882113625019412,2.0906151517216874,https://qtum.info/

##### 3. Tenders in Spain

https://tenders.guru/es/api

In [12]:
tenders = requests.get('https://tenders.guru/api/es/tenders')

In [14]:
tenders.status_code

200

In [ ]:
#tenders.content

In [15]:
tenders_data = pd.DataFrame(tenders.json())
tenders_data.head()

,page_count,page_number,page_size,total,data
0,7146,1,100,714598,"{'id': '831333', 'date': '2021-06-29', 'deadli..."
1,7146,1,100,714598,"{'id': '831322', 'date': '2021-05-17', 'deadli..."
2,7146,1,100,714598,"{'id': '831319', 'date': '2021-06-29', 'title'..."
3,7146,1,100,714598,"{'id': '831318', 'date': '2021-06-29', 'title'..."
4,7146,1,100,714598,"{'id': '831317', 'date': '2021-05-26', 'deadli..."

In [16]:
tenders_data['data']
dict(tenders_data['data'])
pd.DataFrame(dict(tenders_data['data']))
pd.DataFrame(dict(tenders_data['data'])).transpose()

,id,date,deadline_date,deadline_length_days,title,category,sid,src_url,purchaser,type,awarded
0,831333,2021-06-29,2021-06-07,22,Servicio de producciÃ³n de cÃ©lulas mesenquimale...,services,7791427,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '1988', 'sid': None, 'name': None}","{'id': 'negotiated-without-publicity', 'name':...","[{'date': '2021-06-29', 'value_for_two': 16356..."
1,831322,2021-05-17,2021-06-01,15,ContrataciÃ³n de Servicio de la ProgramaciÃ³n de...,services,7554969,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '49', 'sid': None, 'name': None}","{'id': 'simplified-open', 'name': 'Simplified ...","[{'date': '2021-06-29', 'value_for_two': 0, 's..."
2,831319,2021-06-29,NaN,NaN,Adquisicion de impresoras A4 Color para el Min...,supplies,7791419,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '1952', 'sid': None, 'name': None}",{'id': 'contract-based-on-a-framework-agreemen...,"[{'date': '2021-06-29', 'value_for_two': 0, 's..."
3,831318,2021-06-29,NaN,NaN,RenovaciÃ³n de las licencias de productos Opent...,supplies,7791418,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '1952', 'sid': None, 'name': None}",{'id': 'contract-based-on-a-framework-agreemen...,"[{'date': '2021-06-29', 'value_for_two': 48916..."
4,831317,2021-05-26,2021-06-11,16,Servicios de digitalizaciÃ³n de las solicitudes...,services,7611066,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '281', 'sid': None, 'name': None}","{'id': 'open', 'name': 'Open', 'slug': 'open'}","[{'date': '2021-06-29', 'value_for_two': 19781..."
...,...,...,...,...,...,...,...,...,...,...,...
95,830910,2021-06-28,2021-06-29,1,Servicio mantenimiento integral de los acelera...,services,7784255,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '346', 'sid': None, 'name': None}","{'id': 'negotiated-without-publicity', 'name':...","[{'date': '2021-06-28', 'value_for_two': 39813..."
96,830897,2021-06-28,2021-06-16,12,Suministro de reactivos para la determinaciÃ³n ...,supplies,7784189,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '3267', 'sid': None, 'name': None}","{'id': 'negotiated-without-publicity', 'name':...","[{'date': '2021-06-28', 'value_for_two': 54849..."
97,830884,2021-05-04,2021-05-25,21,Suministro de gas natural canalizado en el edi...,supplies,7482922,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '5255', 'sid': None, 'name': None}","{'id': 'simplified-open', 'name': 'Simplified ...","[{'date': '2021-06-28', 'value_for_two': 0, 's..."
98,830883,2021-06-09,2021-06-24,15,"Servicio de carga y descarga, movimiento y mon...",services,7681316,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '9747', 'sid': None, 'name': None}","{'id': 'simplified-open', 'name': 'Simplified ...","[{'date': '2021-06-28', 'value_for_two': 57350..."
99,830875,2021-06-02,2021-06-14,12,"AdquisiciÃ³ d'un vehicle nou 100% elÃ¨ctric, for...",supplies,7648416,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '11664', 'sid': None, 'name': None}","{'id': 'simplified-open', 'name': 'Simplified ...","[{'date': '2021-06-28', 'value_for_two': 24483..."

In [ ]:
# We could already analize which categories are more frequent. Further cleaning would be needed. One interesting project might be mergin all the datasets of teners in the EU.